<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <title>Login</title>
</head>
<body>
    <!-- login header -->
    <header class="login-header">
        <div class="links-container">
            <h1>Login</h1>
                <a href="index.html">Home</a>
        </div>
    </header>

    <!-- Login form -->
    <div class="login-container">
        <!-- <h2>Login</h2> -->
        <form action="noName.html" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
