/* Set the font and background color for the entire body */
body {
  font-family: Arial, sans-serif;
  background-color: #feefad;
}

/* --------------------- createNote.ejs & editNote.ejs --------------------------------- */

/* Style the toolbar */
.toolbar {
  background-color: #68d2e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Style all buttons for text decor & math features */
button {
  width: 65px;
  height: 65px;
  font-size: 20px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  background-color: #feefad;
}

/* Change button background color on hover */
button:hover {
  background-color: #68d2e8;
}

/* Style images inside buttons */
button img {
  width: 35px;
}

/* Style the left buttons of texts decor in the toolbar */
.left-buttons {
  margin-left: 10px;
  gap: 20px;
}

/* Style individual buttons in the left-buttons section */
.left-buttons button {
  border-radius: 50%;
}

/* Style the right buttons of math features in the toolbar */
.right-buttons {
  margin-right: 10px;
  gap: 20px;
}

/* Style the editor area */
.editor {
  border: 1px solid #ccc;
  margin: 20px;
  min-height: 300px;
  padding: 10px;
}

/* Hide the calculator container by default */
.calculator-container {
  display: none;
}

/* Style the calculators section */
.calculators {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
/* --------------------- homepage.ejs & index.ejs --------------------------------- */

/* Style the existing notes section */
.existing {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the new note section */
.newNote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 50px;
}

/* Style SVG elements inside the new note section */
.newNote svg {
  width: 100px;
  height: 100px;
  fill: #000; /* You can change the color here */
}

/* Change cursor to pointer on hover for links */
a:hover {
  cursor: pointer;
}

/* --------------------- homepage.ejs, index.ejs, login.ejs & register.ejs -------- */

/* Style all h1 elements */
h1 {
  font-weight: bold;
  text-align: center;
  margin: 0;
  font-size: 24px;
}

/* Style the login header */
.login-header {
  background-color: #56c1d5;
  padding: 20px;
  text-align: center;
}

/* Style the header */
header {
  display: flex;
  justify-content: space-between;
  background-color: #56c1d5;
}

/* Style links inside the login header */
.login-header a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

/* Underline links on hover inside the login header */
.login-header a:hover {
  text-decoration: underline;
}

/* --------------------- createNote.ejs --------------------------------------------- */

/* Style the submit button */
#submitButton {
  width: 80px;
  height: 50px;
  font-size: 16px;
  border-radius: 20%;
  border: 0;
  padding: 0px;
  cursor: pointer;
  background-color: #56c1d5;
}

/* Change submit button background color on hover */
#submitButton:hover {
  background: #56c1d5;
}